{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/blog_index_page.css' %}">
{% endblock %}

{% block content %}
<h1>{{ page.title }}</h1>
<div class="blog-description">
  {{ page.description|richtext }}
</div>

<section class="post-list">
  {% for post in posts %}
  <article class="post-card">
    <h2>
      <a href="{% pageurl post %}">{{ post.title }}</a>
    </h2>
    <span class="post-date">{{ post.date }}</span>
    <div class="post-intro">
      {{ post.intro|richtext }}
    </div>
  </article>
  {% endfor %}
</section>
{% endblock %}
